@{
    ViewBag.Title = "About";
}

<div class="container">
    <h2 class="mt-5">@ViewBag.Title.</h2>
    <h3 class="lead">@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
</div>