@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">ASP.NET SignalR Stock Ticker Sample</h1>
    <p class="lead">A simple fake stock ticker sample for SignalR.</p>
    <button type="button" id="open" class="btn btn-outline-primary">Open Market</button>
    <button type="button" id="close" class="btn btn-outline-secondary">Close Market</button>
    <button type="button" id="reset" class="btn btn-outline-danger">Reset</button>
</div>

<h2>Live Stock Table</h2>
<div id="stockTable">
    <table class="table table-striped table-bordered table-hover table-dark" border="1">
        <thead>
            <tr><th>Symbol</th><th>Price</th><th>Open</th><th>High</th><th>Low</th><th>Change</th><th>%</th></tr>
        </thead>
        <tbody>
            <tr class="loading"><td colspan="7">loading...</td></tr>
        </tbody>
    </table>
</div>

<h2>Live Stock Ticker</h2>
<div class="d-flex p-2 bd-highlight">
    <div id="stockTicker">
        <div class="inner">
            <ul>
                <li class="loading">loading...</li>
            </ul>
        </div>
    </div>
</div>
